<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Helicopters</title>
  </head>
  <body>
    <div style="height: 60%; width: 20%; position: fixed; margin: 0px;">
        <p id="chat"></p>
        <input type="text" style="font-family: Verdana; height: 5%; width: 98%; margin-top: 5%;" id="chatInput" autocomplete="off">
    </div>
    <canvas name="main-canvas" id="main-canvas" class="canvas">
	    <p>Well That didn't work. Guess you're stupid</p>
	</canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
	<br>
    <p id="enemy" class="status" style="right: 10px; top: 10px;">HELICOPTERS</p>
    <p id="fps" class="status" style="position: fixed; left: 10px; bottom:10px;"></p>
    <p id="ping" class="status" style="position: fixed; right: 10px; bottom:10px;"></p>
  </div>
  </body>
</html>